/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background: #f3f5f6;
    }
    .container {
    	@apply !max-w-[1700px] my-auto mx-auto px-5
    	/* @apply max-w-[1300px] my-auto mx-auto */
    }

    .card {
        background: white;
        border-radius: 20px;
        padding: 20px
    }
}

@layer components {
    /* Topbar */
    .item-list:after {
        content: "";
        background: rgba(245,245,245,.15);
        display: inline-block;
        width: 1px;
        height: 15px;
        margin: auto 0;
        margin-left: 15px
    }
    .item-list:last-child:after {
        content: none;
    }

    /* Header vertical Menu */
    .hello{
        content: "";
        background: rgba(245,245,245,.15);
        display: inline-block;
        width: 1px;
        height: 15px;
        margin: auto 0;
        margin-left: 15px;
    }

}